<button type="button" routerLink="user-details/{{selectedId}}">User Details</button>
<button type="button" routerLink="company-details/{{selectedId}}">Company Details</button>
<router-outlet></router-outlet>