<div>
    <h3>{{selectedUser?.name}}</h3>
    <p>ID: {{selectedUser?.id}}</p>
    <p>User Name: {{selectedUser?.username}}</p>
    <p>Email: {{selectedUser?.email}}</p>
    <p>Phone: {{selectedUser?.phone}}</p>
    <p>Website: {{selectedUser?.website}}</p>
</div>