* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

div {
  display: flex;
  min-height: 100vh;
  .main-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(198, 174, 145);
    padding: 0 1rem;
    margin: 1rem;
  }
  .main-menu-content {
    flex: 4;
    height: 0;
  }
}
