<div>
  <section class="main-menu">
    <button type="button" routerLink="/users">Users</button>
    <button type="button" routerLink="/products">Products</button>
  </section>

  <section class="main-menu-content">
    <router-outlet></router-outlet>
  </section>

</div>