div {
  flex: 1;
  background-color: rgb(203, 179, 147);
  max-height: 100vh;
  padding: 1rem;
  margin-top: 0;
  p {
    border-bottom: thin solid black;
    padding: 0.5rem;
    cursor: pointer;
    font-size: small;
  }
  h3 {
    font-size: medium;
    padding: 0.5rem;
  }
}
